<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xm-12">

      <div style="text-align:center">
        <h1>
          {{ title }}
        </h1>
      </div>
      <hr>

      <app-user></app-user>
    </div>
  </div>
</div>

<app-footer></app-footer>
