<div class="container">
  <div class="row">
    <div class="col-xm-12">
      <label for="username"></label>
      <br>
      <input type="text" id="username"
        class="input form-control"
        [(ngModel)]="username">
      <br>
      <div>
        <p>
          {{ username }}
        </p>
      </div>
      <button class="btn btn-primary" 
        [disabled]="isUsernameEmpty()"
        (click)="onClearUsername()">
        Add User
      </button>
    </div>
  </div>
</div>
